.container__header {
  margin-bottom: 64px;
}

.btn {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgb(0, 0, 0);
}

.btn-group {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .btn {
    font-size: 32px;
  }
}
