@font-face {
  font-family: 'China One';
  src: url('../../public/assets/china-one.ttf');
}

.container__home {
  text-align: center;
  color: #ffffff;
}

.header__main {
  font-family: 'China One', Arial, sans-serif;
  font-size: 96px;
  color: #d9534f;
}

.header__info {
  font-size: 32px;
  line-height: 1.25;
}

.header__info > a {
  text-decoration: none;
  color: #ffffff;
}

.header__slogan {
  font-size: 48px;
  margin-bottom: 32px;
  color: #d9534f;
}

.block__special-event {
  background-color: #d9534f;
  color: #ffffff;
  border-color: #c33433
}

.container__column {
  margin-bottom: 16px;
}

.card {
  height: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
