.category-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.category-info {
  width: 100%;
  padding: 10px;
  margin: 0;
}

.category-info > * {
  margin: 0;
}

.menu {
  margin: 15px 0 40px 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: left;
}

.menu-item > p {
  margin: 0;
}

.nav-link {
  text-transform: capitalize;
}

@media (max-width: 768px) {

  .category-tabs > li {
    width: 50%
  }

}

@media (min-width: 768px) {

  .menu-category {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-item {
    width: 50%;
  }

}
