:root {
  --primary: #c33433;
  --black: #000000;
  --white: #ffffff;
  --background-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0 2px 4px var(--background-color);
  --text-shadow: 0 1px 2px var(--black);
}

@font-face {
  font-family: 'China One';
  src: url('../assets/china-one.ttf');
}

body {
  font-family: 'Noto Serif', serif;
  background: url('../assets/bamboo-background.jpg') fixed;
  background-size: auto 100%;
}

a,
a:hover,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

h1,
h2,
p,
button {
  text-shadow: var(--text-shadow);
}

th {
  width: 35%;
}

td {
  width: 15%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.btn {
  font-size: 24px;
  color: var(--white);
  background-color: var(--background-color);
}

.btn:visited {
  color: var(--white);
}

.btn-group {
  display: flex;
}

.container-content {
  margin-top: 24px;
  text-align: center;
}

.block-special-event {
  max-width: 576px;
  margin: 0 auto 1rem;
  color: var(--white);
  border-color: var(--primary);
  background-color: var(--primary);
}

.header-title {
  font-family: 'China One', Arial, sans-serif;
  font-size: 96px;
  color: var(--primary);
}

.header-content {
  font-size: 24px;
  line-height: 1.25;
  color: var(--white);
}

.header-content > a {
  color: var(--white);
}

.header-byline {
  font-size: 32px;
  margin-bottom: 32px;
  color: var(--primary);
}

.card {
  height: 100%;
  color: var(--white);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.container-footer {
  margin-top: 64px;
  text-align: center;
  color: var(--white);
}

.accordion {
  max-width: 768px;
  margin: 0 auto;
}

.accordion-button,
.accordion-button:not(.collapsed),
.accordion-button:focus {
  color: var(--white);
  background-color: var(--primary);
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
  padding: 0;
}

.table {
  margin-bottom: 0;
}

.description {
  font-size: 12px;
  font-weight: 500;
}

.combination-plate p {
  font-size: 24px;
  margin-bottom: 0;
}

.combination-plate > tr > th {
  font-size: 12px;
}

@media (min-width: 576px) {
  .combination-plate > tr > th {
    font-size: 14px;
  }
}

.combination-plate th {
  width: 25%;
}
