@font-face {
  font-family: 'China One';
  src: url('../assets/china-one.ttf');
}

body {
  font-family: 'Noto Serif', serif;
  margin: 0;
  padding: 0;
  background: url('../assets/bamboo-background.jpg') fixed;
  background-size: auto 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  justify-content: space-between;
}

.header {
  text-shadow: 0 1px 2px rgb(0, 0, 0);
}

.container-header {
  margin-bottom: 24px;
}

.btn {
  font-size: 32px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgb(0, 0, 0);
}

.btn:hover {
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.container-content {
  width: 100%;
  text-align: center;
  color: #fff;
}

.container-column {
  margin-bottom: 16px;
}

.block-special-event {
  max-width: 576px;
  margin: 0 auto 1rem;
  color: #fff;
  border-color: #c33433;
  background-color: #d9534f;
}

.header-title {
  font-family: 'China One', Arial, sans-serif;
  font-size: 96px;
  color: #d9534f;
}

.header-content {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
}

.header-content > a {
  text-decoration: none;
  color: #fff;
}

.header-byline {
  font-size: 32px;
  margin-bottom: 32px;
  color: #d9534f;
}

.card {
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.container-footer {
  margin-top: 64px;
  text-align: center;
  color: #fff;
}
